<mat-grid-list cols="13">
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <input matInput placeholder="Multiple of" type="number" step="{{integer?1:0.1}}" name="multipleOf" [(ngModel)]="item.multipleOf"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <mat-select placeholder="Lower limit" [(ngModel)]="item.exclusiveMin">
        <mat-option value="true">
          &gt;
        </mat-option>
        <mat-option value="false" selected>
          &ge;
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <input matInput placeholder="Min value" type="number" step="{{integer?1:0.1}}" name="minValue" [(ngModel)]="item.minValue"
        ng-max="item.maxValue" />
      <!--div ng-messages="item.minValue.error" role="alert">
        <div ng-message="max">
          {{item.minValue}} is greater than {{item.maxValue}} (max value).
        </div>
      </div-->
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <mat-select placeholder="Upper limit" [(ngModel)]="item.exclusiveMax">
        <mat-option value="true">
          &lt;
        </mat-option>
        <mat-option value="false" selected>
          &le;
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <label></label>
      <input placeholder="Max value" matInput type="number" step="{{integer?1:0.1}}" name="maxValue" [(ngModel)]="item.maxValue"
        ng-min="item.minValue" />
      <!--div ng-messages="item.maxValue.error" role="alert">
        <div ng-message="min">
          {{item.maxValue}} is lower than {{item.minValue}} (min value).
        </div>
      </div-->
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>