<mat-grid-list cols="14">
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <input matInput [(ngModel)]="item.default" placeholder="{{'LABEL.ITEM.DEFAULT_VALUE'|translate}}" type="number" [max]="item.maxValue" [min]="item.minValue">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <input matInput placeholder="{{'LABEL.ITEM.MULTIPLE'|translate}}" type="number" step="{{integer?1:0.1}}" name="multipleOf" [(ngModel)]="item.multipleOf"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <mat-select placeholder="{{'LABEL.ITEM.GT_MIN'|translate}}" [(ngModel)]="item.exclusiveMin">
        <mat-option [value]="true">
          &gt;
        </mat-option>
        <mat-option [value]="false" selected>
          &ge;
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <input matInput placeholder="{{'LABEL.ITEM.MIN_VAL'|translate}}" type="number" step="{{integer?1:0.1}}" name="minValue" [(ngModel)]="item.minValue"
        [max]="item.maxValue" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <mat-select placeholder="{{'LABEL.ITEM.LT_MAX'|translate}}" [(ngModel)]="item.exclusiveMax">
        <mat-option [value]="true">
          &lt;
        </mat-option>
        <mat-option [value]="false" selected>
          &le;
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field>
      <input placeholder="{{'LABEL.ITEM.MAX_VAL'|translate}}" matInput type="number" step="{{integer?1:0.1}}" name="maxValue" [(ngModel)]="item.maxValue"
         [min]="item.minValue" />
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
