<div *ngFor="let item of node; let idx = index" class="sd-item" [@itemAnimation]="(itemFormList[idx]||{}).type||false">
  <mat-grid-list cols="14" [ngSwitch]="item.listOf">
    <mat-grid-tile colspan="4">
      <mat-form-field>
        <input matInput [(ngModel)]="item.name" required placeholder="{{'LABEL.ITEM.PROPERTY_NAME'|translate}}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-slide-toggle class="md-primary" name="required" [(ngModel)]="item.required">
        {{'LABEL.ITEM.REQUIRED'|translate}}
      </mat-slide-toggle>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-select placeholder="{{'LABEL.ITEM.DEPENDENCIES'|translate}}" [(ngModel)]="item.dependencies" multiple [disabled]="!(node|excludeSdItemSiblings:item).length">
          <mat-option *ngFor="let sibling of node|excludeSdItemSiblings:item" [value]="sibling.name">
            {{sibling.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field matTooltip="{{ ( item.children && item.children.length>0 ) ? ('TOOLTIP.INPUT.LOCKED_OBJECT_TYPE'|translate) : null}}">
        <mat-select [ngModel]="item.type" (change)="changeType(item, $event.value)" placeholder="{{'LABEL.ITEM.TYPE.TITLE'|translate}}" [disabled]="item.children && item.children.length>0">
          <mat-option value="object">
            {{'LABEL.ITEM.TYPE.OBJECT'|translate}}
          </mat-option>
          <mat-option value="string">
            {{'LABEL.ITEM.TYPE.STRING'|translate}}
          </mat-option>
          <mat-option value="integer">
            {{'LABEL.ITEM.TYPE.INTEGER'|translate}}
          </mat-option>
          <mat-option value="number">
            {{'LABEL.ITEM.TYPE.NUMBER'|translate}}
          </mat-option>
          <mat-option value="boolean">
            {{'LABEL.ITEM.TYPE.BOOLEAN'|translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-slide-toggle class="md-primary" name="listOf" [(ngModel)]="item.listOf">
        {{'LABEL.ITEM.LIST'|translate}}
      </mat-slide-toggle>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <button mat-mini-fab color="warn" (click)="removeItem(item)" matTooltip="{{'TOOLTIP.BUTTON.DEL_PROPERTY'|translate}}">
        <mat-icon class="icon">delete</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" *ngSwitchCase="true">
      <mat-form-field ng-init="(item.minOccurrences>=0)?null:(item.minOccurrences=0)">
        <input matInput placeholder="{{'LABEL.ITEM.OCCURRENCES.MIN'|translate}}" required type="number" step="1" name="minOccurrencess" [(ngModel)]="item.minOccurrences" min="0" [max]="item.maxOccurrences||999"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" *ngSwitchCase="true">
      <mat-form-field>
        <input matInput placeholder="{{'LABEL.ITEM.OCCURRENCES.MAX'|translate}}" type="number" step="1" name="maxOccurrencess" [(ngModel)]="item.maxOccurrences" max="999" [min]="item.minOccurrences||1"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" *ngSwitchCase="true">
      <mat-slide-toggle class="md-primary" name="uniqueItems" [(ngModel)]="item.uniqueItems">
         {{'LABEL.ITEM.UNIQUE_ITEMS'|translate}}
      </mat-slide-toggle>
    </mat-grid-tile>
  </mat-grid-list>
  <div [ngSwitch]="item.type" class="sd-item-details">
    <app-sd-item-string *ngSwitchCase="'string'" [item]="item"></app-sd-item-string>
    <app-sd-item-object *ngSwitchCase="'object'" [item]="item"></app-sd-item-object>
    <app-sd-item-number *ngSwitchCase="'integer'" [item]="item" integer></app-sd-item-number>
    <app-sd-item-number *ngSwitchCase="'number'" [item]="item"></app-sd-item-number>
    <app-sd-item-boolean *ngSwitchCase="'boolean'" [item]="item"></app-sd-item-boolean>
    <div *ngSwitchDefault class="none"></div>
  </div>
</div>
