<mat-grid-list cols="14">
  <mat-grid-tile colspan="4">
    <mat-form-field>
      <input matInput [(ngModel)]="item.default" placeholder="{{'LABEL.ITEM.DEFAULT_VALUE'|translate}}">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <input matInput placeholder="{{'LABEL.ITEM.LENGTH.MIN'|translate}}" type="number" step="1" name="minLength" [(ngModel)]="item.minLength" min="0" max="{{item.maxLength}}"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <input matInput placeholder="{{'LABEL.ITEM.LENGTH.MAX'|translate}}" type="number" step="1" name="maxLength" [(ngModel)]="item.maxLength" min="{{item.minLength}}"
      />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-form-field>
      <mat-select placeholder="{{'LABEL.ITEM.FORMAT.TITLE'|translate}}" [(ngModel)]="item.format" placeholder="Generic" [disabled]="!!item.pattern || item.domain.length>0">
        <mat-option [value]="false">
          {{'LABEL.ITEM.FORMAT.GENERIC'|translate}}
        </mat-option>
        <mat-option value="date-time">
          {{'LABEL.ITEM.FORMAT.DATE_TIME'|translate}}
        </mat-option>
        <mat-option value="email">
          {{'LABEL.ITEM.FORMAT.EMAIL'|translate}}
        </mat-option>
        <mat-option value="hostname">
          {{'LABEL.ITEM.FORMAT.HOST_NAME'|translate}}
        </mat-option>
        <mat-option value="ipv4">
          {{'LABEL.ITEM.FORMAT.IPV4'|translate}}
        </mat-option>
        <mat-option value="ipv6">
          {{'LABEL.ITEM.FORMAT.IPV6'|translate}}
        </mat-option>
        <mat-option value="uri">
          {{'LABEL.ITEM.FORMAT.URI'|translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="5">
    <mat-form-field>
      <input matInput placeholder="{{'LABEL.ITEM.REGEXP'|translate}}" appRegexpValidator [(ngModel)]="item.pattern" [disabled]="!!item.format || item.domain.length>0">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="8">
    <mat-form-field>
      <mat-chip-list #chipDomain [disabled]="!!item.format || !!item.pattern">
        <mat-chip *ngFor="let value of item.domain" (remove)="removeDomain(value)">
          {{value}}
          <mat-icon matChipRemove matTooltip="{{'TOOLTIP.BUTTON.DEL_DOMAIN_VAL'|translate}}">cancel</mat-icon>
        </mat-chip>
        <input placeholder="{{'LABEL.ITEM.DOMAIN'|translate}}" [matChipInputFor]="chipDomain" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addDomain($event)" [disabled]="chipDomain.disabled"/>
      </mat-chip-list>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
