<main ng-controller="sdCtrl as sdCtrl" ng-cloak>
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
	    <div>
			<md-input-container>
				<label>End Point</label>
				<input ng-model="service.endPoint">
			</md-input-container>
	    </div>
	</md-content>
	<md-content class="md-padding">
		<md-tabs md-border-bottom md-autoselect>
			<md-tab ng-repeat="(verb,schemas) in sdCtrl.verbs" ng-attr-label="{{verb}}">
				<div>
					<md-switch ng-model="service.verbs[verb].enabled" aria-label="Switch {{verb}}">
						Enable <b>{{verb|uppercase}}</b> for <i>{{service.endPoint}}</i>
					</md-switch>
				</div>
				<div layout="row" ng-if="service.verbs[verb].enabled">
					<div flex ng-repeat="schemaName in schemas">
						<md-toolbar md-scroll-shrink>
							<div class="md-toolbar-tools capitalize">
								{{schemaName}}
								<span flex></span>
								<md-button class="md-icon-button" aria-label="">
						        	<md-icon>json</md-icon>
						        </md-button>
								<md-button class="md-icon-button" aria-label="">
						        	<md-icon>jss</md-icon>
						        </md-button>
								<md-button class="md-icon-button" aria-label="" ng-click="sdCtrl.addItem(service.verbs[verb][schemaName])">
						        	<md-icon>+</md-icon>
						        </md-button>
						    </div>
						</md-toolbar>
						<md-content ng-init="service.verbs[verb][schemaName]=service.verbs[verb][schemaName]||[]">
							<div class="container-element box box-blue">
						        <div class="column" ng-repeat="list in service.verbs[verb][schemaName]" ng-include="'./container.html'"></div>
						        <div class="clearfix"></div>
						    </div>
						</md-content>
					</div>
				</div>
			</md-tab>
		</md-tabs>
    </md-content>

	<pre>{{service|json:4}}</pre>
</main>
<footer>
</footer>