<mat-toolbar>
  <mat-form-field class="title" matTooltip="{{'TOOLTIP.INPUT.PROJECT_NAME'|translate}}">
    <input matInput [(ngModel)]="projectName" placeholder="{{ title }}">
  </mat-form-field>

  <button mat-mini-fab color="basic" (click)="serviceSideBar.toggle()" matTooltip="{{ ('TOOLTIP.BUTTON.SIDE_BAR.' + (serviceSideBar.opened?'HIDE':'SHOW'))|translate }}">
    <mat-icon class="icon">{{ serviceSideBar.opened?'crop_din':'flip' }}</mat-icon>
  </button>

  <span class="spacer"></span>

  <mat-button-toggle-group [(ngModel)]="verb">
    <mat-button-toggle value="GET" matTooltip="{{'TOOLTIP.VERB.GET'|translate}}">
      <mat-icon>description</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="POST" matTooltip="{{'TOOLTIP.VERB.POST'|translate}}">
      <mat-icon>note_add</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="PUT" matTooltip="{{'TOOLTIP.VERB.PUT'|translate}}">
      <mat-icon>mode_edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="DELETE" matTooltip="{{'TOOLTIP.VERB.DELETE'|translate}}">
      <mat-icon>delete_forever</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="PATCH" matTooltip="{{'TOOLTIP.VERB.PATCH'|translate}}">
      <mat-icon>receipt</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span class="divider"></span>

  <mat-button-toggle-group [(ngModel)]="io">
    <mat-button-toggle value="request" [disabled]="verb==='GET'" matTooltip="{{'TOOLTIP.IO.REQUEST'|translate}}">
      <mat-icon>cloud_upload</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="response" matTooltip="{{'TOOLTIP.IO.RESPONSE'|translate}}">
      <mat-icon>cloud_download</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span class="divider"></span>

  <button mat-mini-fab color="accent" (click)="newItem()" matTooltip="{{'TOOLTIP.BUTTON.ADD_PROPERTY'|translate}}">
    <mat-icon class="icon">add</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-mini-fab color="primary" matTooltip="{{'TOOLTIP.BUTTON.MENU'|translate}}" [matMenuTriggerFor]="menu">
    <mat-icon class="icon">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openInputFile.click()">
      <mat-icon>folder_open</mat-icon>
      <span translate>
        MENU.OPEN
      </span>
      <input hidden type="file" #openInputFile [accept]="mksdFileTypes.join(', ')" (change)="openMKSD($event.srcElement.files[0])">
    </button>
    <button mat-menu-item (click)="saveMKSD()">
      <mat-icon>save</mat-icon>
      <span translate>
        MENU.SAVE
      </span>
    </button>
    <mat-divider></mat-divider>
    <span mat-menu-item disabled class="mat-menu-title">
      <span translate>
        MENU.EXPORT.TITLE
      </span>
    </span>
    <button mat-menu-item (click)="exportWSDL()">
      <mat-icon>code</mat-icon>
      <span translate>
        MENU.EXPORT.WSDL
      </span>
    </button>
    <button mat-menu-item (click)="exportJsonSchema()">
      <mat-icon>developer_board</mat-icon>
      <span translate>
        MENU.EXPORT.JSON_SCHEMA
      </span>
    </button>
    <button mat-menu-item (click)="exportJsonMock()">
      <mat-icon>developer_board</mat-icon>
      <span translate>
        MENU.EXPORT.JSON_MOCK
      </span>
    </button>
    <button mat-menu-item (click)="exportMockettaro()">
      <mat-icon>dashboard</mat-icon>
      <span translate>
        MENU.EXPORT.MOCKETTARO
      </span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #serviceSideBar class="" mode="side">
    <app-service-tree [rootService]="serviceRoot" (select)="currentService=$event"></app-service-tree>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mat-drawer-content-container">
      <mat-toolbar class="tiny-toolbar">
        <span class="title" translate>LABEL.EDITOR.RESOURCE</span>
        <span class="uri">{{ currentService.uri }}</span>
        <span class="spacer"></span>
        <span class="verb-io" translate [translateParams]="{'verb': verb, 'io': ('LABEL.EDITOR.' + io|uppercase)|translate}">
          LABEL.EDITOR.VERB_IO
        </span>
      </mat-toolbar>
      <app-model-editor [service]="currentService.value.verbs[verb][io]"></app-model-editor>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
