<main ng-controller="sdCtrl as sdCtrl" ng-cloak>
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
	    <div>
			<md-input-container>
				<label>End Point</label>
				<input ng-model="service.endPoint" required>
			</md-input-container>
	    </div>
	</md-content>
	<md-content class="md-padding ng-cloak">
		<md-tabs md-border-bottom md-autoselect md-dynamic-height>
			<md-tab ng-repeat="(verb,schemas) in sdCtrl.verbs" ng-attr-label="{{verb}}">
				<div>
					<md-switch ng-model="service.verbs[verb].enabled" aria-label="Switch {{verb}}">
						Enable <b>{{verb|uppercase}}</b> for <i>{{service.endPoint}}</i>
					</md-switch>
				</div>
				<div layout="row" ng-if="service.verbs[verb].enabled">
					<div flex ng-repeat="schemaName in schemas">
						<md-toolbar md-scroll-shrink>
							<div class="md-toolbar-tools capitalize">
								{{schemaName}}
								<span flex></span>
								<md-button class="md-icon-button" aria-label="">
						        	<md-icon>json</md-icon>
						        </md-button>
								<md-button class="md-icon-button" aria-label="" ng-click="sdCtrl.exportJson(service.verbs[verb][schemaName]|mkss2jsonschema:service.endPoint:verb:schemaName, service.endPoint+'.'+verb+'.'+schemaName+'.schema.json')">
						        	<md-icon>jss</md-icon>
						        </md-button>
						        <md-button class="md-fab md-mini md-primary" aria-label="Add Item" ng-click="sdCtrl.addItem(service.verbs[verb][schemaName])">
									<i class="glyphicon glyphicon-log-in"></i>
								</md-button>
						    </div>
						</md-toolbar>
						<div ng-init="service.verbs[verb][schemaName]=service.verbs[verb][schemaName]||[]" class="dropzone" ng-repeat="list in [service.verbs[verb][schemaName]]" ng-include="'./list.html'">
						</div>
						<pre>{{service.verbs[verb][schemaName]|mkss2jsonschema:service.endPoint:verb:schemaName|json:4}}</pre>
					</div>
				</div>
			</md-tab>
		</md-tabs>
    </md-content>
</main>
<footer>
</footer>