<mat-toolbar>
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="spacer"></span>

    <button mat-mini-fab color="basic" (click)="serviceSideBar.toggle()">
      <mat-icon class="icon">{{ serviceSideBar.opened?'crop_din':'flip' }}</mat-icon>
    </button>

    <span class="divider"></span>

    <button mat-mini-fab color="primary">
      <mat-icon class="icon">cloud_upload</mat-icon>
    </button>
    <button mat-mini-fab color="primary">
      <mat-icon class="icon">cloud_download</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="" autosize>
  <mat-drawer #serviceSideBar class="" mode="side">
    <ngx-treeview [items]="treeItems">
    </ngx-treeview>
  </mat-drawer>

  <mat-drawer-content>
    <mat-tab-group>
      <mat-tab label="GET Response">
        Content GET
      </mat-tab>
      <mat-tab label="POST Request">
        Content POST
      </mat-tab>
      <mat-tab label="POST Response">
        Content POST
      </mat-tab>
      <mat-tab label="PUT Request">
        Content PUT
      </mat-tab>
      <mat-tab label="PUT Response">
        Content PUT
      </mat-tab>
      <mat-tab label="DELETE Request">
        Content DELETE
      </mat-tab>
      <mat-tab label="DELETE Response">
        Content DELETE
      </mat-tab>
      <mat-tab label="PATCH Request">
        Content PATCH
      </mat-tab>
      <mat-tab label="PATCH Response">
        Content PATCH
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>

</mat-drawer-container>