<main ng-controller="sdCtrl as sdCtrl" class="ng-cloak">
    <md-content md-theme="docs-dark" layout="row" layout-padding>
        <div class="ng-cloak col-xs-6">
            <md-input-container class="md-block ng-cloak">
                <label>End Point</label>
                <input ng-model="service.endPoint" class="ng-cloak" required>
            </md-input-container>
        </div>
        <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false" ng-cloak>
            <md-fab-trigger class="ng-cloak">
                <md-button aria-label="menu" class="md-fab md-primary md-hue-2">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">File</md-tooltip>
                    <i class="glyphicon glyphicon-file"></i>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div>
                    <md-button aria-label="upload" class="md-fab md-raised md-mini" ngf-select="sdCtrl.importMksd($file, service)" accept="application/x-mk-service-designer,.mksd">
                        <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false">
                            Open
                        </md-tooltip>
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                    </md-button>
                </div>
            </md-fab-actions>
            <md-fab-actions ng-cloak>
                <div>
                    <md-button aria-label="download" class="md-fab md-raised md-mini" ng-disabled="!service.endPoint" ng-click="sdCtrl.exportMksd(service, service.endPoint)">
                        <md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">
                            Save
                        </md-tooltip>
                        <i class="glyphicon glyphicon-cloud-download"></i>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </md-content>
    <md-content class="md-padding ng-cloak">
        <md-tabs md-border-bottom md-autoselect md-dynamic-height md-selected="sdCtrl.selectedVerb" ng-cloak>
            <md-tab ng-repeat="(verb,schemas) in sdCtrl.verbs" ng-attr-label="{{verb}}">
                <div>
                    <md-switch ng-model="service.verbs[verb].enabled" aria-label="Switch {{verb}}">
                        Enable <b>{{verb|uppercase}}</b> for <i>{{service.endPoint}}</i>
                    </md-switch>
                </div>
                <div layout="row" ng-if="service.verbs[verb].enabled && sdCtrl.selectedVerb===$index" ng-init="sdCtrl.view=sdCtrl.view||'mksd'">
                    <div flex ng-repeat="schemaName in schemas">
                        <md-toolbar md-scroll-shrink>
                            <div class="md-toolbar-tools capitalize">
                                {{schemaName}}
                                <span flex></span>
                                <md-button class="md-fab md-mini md-primary" ng-class="{'md-hue-1':sdCtrl.view!=='java','md-hue-3':sdCtrl.view==='java'}" aria-label="java" ng-click="sdCtrl.export(service.verbs[verb][schemaName]|mkss2pojo:service.endPoint:verb:schemaName, service.endPoint+'.'+verb+'.'+schemaName+'.pojo.java', 'text/x-java-source')" ng-mouseover="(sdCtrl.view!='java')?(sdCtrl.view='java'):null">
                                    <md-icon class="json-button">java</md-icon>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary" ng-class="{'md-hue-1':sdCtrl.view!=='json','md-hue-3':sdCtrl.view==='json'}" aria-label="json" ng-click="sdCtrl.exportJson(service.verbs[verb][schemaName]|mkss2json:service.endPoint:verb:schemaName, service.endPoint+'.'+verb+'.'+schemaName+'.json')" ng-mouseover="(sdCtrl.view!='json')?(sdCtrl.view='json'):null">
                                    <md-icon class="json-button">json</md-icon>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary" ng-class="{'md-hue-1':sdCtrl.view!=='jsonschema','md-hue-3':sdCtrl.view==='jsonschema'}" aria-label="jsonschema" ng-click="sdCtrl.exportJson(service.verbs[verb][schemaName]|mkss2jsonschema:service.endPoint:verb:schemaName, service.endPoint+'.'+verb+'.'+schemaName+'.schema.json')" ng-mouseover="(sdCtrl.view!='jsonschema')?(sdCtrl.view='jsonschema'):null">
                                    <md-icon class="btn-text">jss</md-icon>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary" ng-class="{'md-hue-1':sdCtrl.view!=='mksd','md-hue-3':sdCtrl.view==='mksd'}" aria-label="mksd" ng-mouseover="(sdCtrl.view!='mksd')?(sdCtrl.view='mksd'):null">
                                    <md-icon class="mksd-button">mksd</md-icon>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary md-hue-2" aria-label="Add Item" ng-click="sdCtrl.addItem(service.verbs[verb][schemaName])"">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <div ng-switch="sdCtrl.view">
                            <pre class="tab-content" ng-switch-when="jsonschema">{{service.verbs[verb][schemaName]|mkss2jsonschema:service.endPoint:verb:schemaName|json:4}}</pre>
                            <pre class="tab-content" ng-switch-when="json">{{service.verbs[verb][schemaName]|mkss2json:service.endPoint:verb:schemaName|json:4}}</pre>
                            <pre class="tab-content" ng-switch-when="java">{{service.verbs[verb][schemaName]|mkss2pojo:service.endPoint:verb:schemaName}}</pre>
                            <sd-item ng-switch-default class="dropzone tab-content" list="service.verbs[verb][schemaName]" on-add="sdCtrl.onNewItem(item)"></sd-item>
                        
                            <!--<pre class="tab-content">{{service.verbs[verb][schemaName]|json:4}}</pre>-->
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</main>
<footer>
</footer>