.mat-toolbar{
    @element-spacing: 0 0.4em;

    .title.mat-form-field-should-float.mat-form-field-can-float::ng-deep, .mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper::ng-deep {
        .mat-form-field-label {
            transform: translateY(-0.8em) scale(.85) perspective(100px) translateZ(.001px);
        }
    }

    .title.mat-form-field::ng-deep {
        width: 14em;
        
        .mat-input-wrapper{
            padding-bottom: 1rem;
            input {
                font-size: 1rem;
                padding-left: 0.5rem;
                margin-top: 0.6em;
                margin-bottom: -0.6em;
                width: auto;
            }
        }
        .mat-input-underline {
            display: none;
        }
    }

    span:not(.divider){
        padding: @element-spacing;

        &.title{
            padding-right: 4vw;
        }
    }
    button, .divider{
        margin: @element-spacing;
    }
    .spacer{
        flex: 1 1 auto;
    }
    .divider{
        display: inline-block;
        width: 0px;
        height: 40px;
        border-left: solid 1px rgba(128, 128, 128, 0.3);
        border-right: solid 1px rgba(0, 0, 0, 0.3);
        border-radius: 1em;
    }

    .mat-button-toggle-group {
        border: none;
        box-shadow: none;
        height: 3.4rem;
        .mat-button-toggle {
            padding: 0.3rem 0;
        }
    }

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &.tiny-toolbar {
        @tiny-toolbar-height: 1.6rem;
        min-height: @tiny-toolbar-height;
        height: @tiny-toolbar-height;
        padding: 0 2rem;
        background-color: #e2e2e2;
        position: sticky;
        margin: 0 -1rem;
        width: auto;
        .title:after {
            display: inline;
            content: ':';
        }
        .title, .uri, .verb, .io, .verb-io {
            font-size: 1rem;
            padding: 0.1rem 0.2rem;
        }
        .verb-io, .verb, .io {
            color: #3f51b5;
        }
        .verb {
            text-transform: uppercase;
        }
        .io{
            text-transform: capitalize;
        }
        .uri {
            color: #ff4081;
            font-weight: bold;
        }
    }
}
.mat-drawer-container{
    height: 100%;
    width: 100vw;
    padding: 0;
    .mat-drawer {
        margin: 4em 0 0 0;
    }
    .mat-drawer{
        padding: 0.6em 0.8em;
    }
    .mat-drawer-content{
        position: absolute;
        top: 4em;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        .mat-drawer-content-container {
            padding: 0 0.6em 0.4em 0.6em;
            overflow: hidden;
            width: auto;
        }
    }
}

.mat-menu-title::ng-deep {
    text-align: center;
    height: 2em;
    line-height: 2.3em;
}