<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
    <div class="tree-item">
        <button mat-icon-button *ngIf="(item.children||[]).length" (click)="onCollapseExpand()" matTooltip="{{item.collapsed?'Expand':'Collapse'}} service node">
            <mat-icon aria-hidden="true">
                keyboard_arrow_{{item.collapsed?'right':'down'}}
            </mat-icon>
        </button>
        
        <input #itemInput (focus)="selectItem(item)" [(ngModel)]="item.text" [class.selected]="!editMode && selected === item" [class.no-children]="!(item.children||[]).length">
        
        <button mat-icon-button (click)="addItem(item)" matTooltip="Add child resource">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button *ngIf="item.parent" (click)="removeItem(item)" matTooltip="Delete resource">
            <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
    </div>
</ng-template>

<ngx-treeview [items]="[rootService]" [itemTemplate]="itemTemplate" config="treeviewCfg">
</ngx-treeview>