<mat-tab-group>
  <mat-tab label="GET Response">
    <ng-template mat-tab-label>
      <mat-icon>description</mat-icon>
      GET Response
    </ng-template>
    <app-sd-item class="dropzone tab-content" [(list)]="service.verbs['GET']['response']"></app-sd-item>
  </mat-tab>
  <mat-tab label="POST Request">
    <ng-template mat-tab-label>
      <mat-icon>note_add</mat-icon>
      POST Request
    </ng-template>
  </mat-tab>
  <mat-tab label="POST Response">
    <ng-template mat-tab-label>
      <mat-icon>check_circle</mat-icon>
      POST Response
    </ng-template>
  </mat-tab>
  <mat-tab label="PUT Request">
    <ng-template mat-tab-label>
      <mat-icon>mode_edit</mat-icon>
      PUT Request
    </ng-template>
  </mat-tab>
  <mat-tab label="PUT Response">
    <ng-template mat-tab-label>
      <mat-icon>check_circle</mat-icon>
      PUT Response
      </ng-template>
  </mat-tab>
  <mat-tab label="DELETE Request">
    <ng-template mat-tab-label>
      <mat-icon>delete_forever</mat-icon>
       DELETE Request
    </ng-template>
  </mat-tab>
  <mat-tab label="DELETE Response">
    <ng-template mat-tab-label>
      <mat-icon>check_circle</mat-icon>
       DELETE Response
    </ng-template>
  </mat-tab>
  <mat-tab label="PATCH Request">
    <ng-template mat-tab-label>
      <mat-icon>receipt</mat-icon>
       PATCH Request
    </ng-template>
  </mat-tab>
  <mat-tab label="PATCH Response">
    <ng-template mat-tab-label>
      <mat-icon>assignment</mat-icon>
       PATCH Response
    </ng-template>
  </mat-tab>
</mat-tab-group>