
.mat-tab-group::ng-deep {
    .mat-tab-label{
        height: auto;
        padding: 0.5em 1em;
        white-space: inherit;
        min-width: auto;
    }
    .mat-tab-body{
        padding: 0.2em;
    }
}
app-sd-item::ng-deep {
    >.ng-star-inserted:not(:last-of-type)>*,
    >.ng-star-inserted:last-of-type>.mat-grid-list,
    >.ng-star-inserted:last-of-type>:not(.mat-grid-list)>.ng-star-inserted>.mat-grid-list {
        border-left: 1px black solid;
    }
}