<mat-grid-list cols="14">
  <mat-grid-tile colspan="4">
    <mat-form-field class="md-block md-valign">
      <mat-select placeholder="{{'LABEL.ITEM.EXTRA_PROPS.TITLE'|translate}}" [(ngModel)]="item.additionalProperties">
        <mat-option [value]="true">
          {{'LABEL.ITEM.EXTRA_PROPS.ALLOWED'|translate}}
        </mat-option>
        <mat-option [value]="false">
          {{'LABEL.ITEM.EXTRA_PROPS.NOT_ALLOWED'|translate}}
        </mat-option>
        <mat-option value="string">
          {{'LABEL.ITEM.EXTRA_PROPS.STRING'|translate}}
        </mat-option>
        <mat-option value="integer">
          {{'LABEL.ITEM.EXTRA_PROPS.INTEGER'|translate}}
        </mat-option>
        <mat-option value="number">
          {{'LABEL.ITEM.EXTRA_PROPS.NUMBER'|translate}}
        </mat-option>
        <mat-option value="boolean">
          {{'LABEL.ITEM.EXTRA_PROPS.BOOLEAN'|translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="9">
  </mat-grid-tile>

  <mat-grid-tile colspan="1"> 
    <button mat-mini-fab color="primary" (click)="newItem()" matTooltip="{{'TOOLTIP.BUTTON.ADD_PROPERTY'|translate}}">
      <mat-icon class="icon">add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
<app-sd-item class="dropzone children" [(node)]="item.children"></app-sd-item>