.children::ng-deep{
    padding: 0.2em 0.8em;
    display: block;
    >.ng-star-inserted:not(:last-of-type)>*,
    >.ng-star-inserted:last-of-type>.mat-grid-list,
    >.ng-star-inserted:last-of-type>:not(.mat-grid-list)>.ng-star-inserted>.mat-grid-list {
        border-left: 1px black solid;
    }
}