<div class="container-element container-fluid">
	<div class="row">
			<div class="col-xs-3">
	        <md-input-container class="md-block">
				<label>Property name</label>
				<input ng-model="item.$name" required>
			</md-input-container>
		</div>
		<div class="col-xs-1">
			<md-input-container class="md-block md-valign">
				<md-switch class="md-primary" name="required" ng-model="item.$required">
					<label>Required</label>
		        </md-switch>
			</md-input-container>
		</div>
		<div class="col-xs-3">
			<md-input-container class="md-block">
		    	<label class="md-input-has-value">Dependencies</label>
	    		<md-select ng-model="item.$dependencies" multiple ng-disabled="list.length<2">
					<md-option ng-value="sibling.$name" ng-repeat="sibling in list|exclude:item">
						{{sibling.$name}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div class="col-xs-2 col-xs-offset-2">
			<md-input-container>
  				<label>Type</label>
				<md-select ng-model="item.type">
					<md-option value="object">
						Object
					</md-option>
					<md-option value="string" ng-disabled="item.$object.$children.length>0">
						String
					</md-option>
					<md-option value="integer" ng-disabled="item.$object.$children.length>0">
						Integer
					</md-option>
					<md-option value="number" ng-disabled="item.$object.$children.length>0">
						Number
					</md-option>
					<md-option value="boolean" ng-disabled="item.$object.$children.length>0">
						Boolean
					</md-option>
					<!-- <md-option value="null" ng-disabled="item.$object.$children.length>0">
						Null
					</md-option> -->
				</md-select>
			</md-input-container>
		</div>
		<div class="col-xs-1">
			<md-button class="md-fab md-mini md-warn pull-right" aria-label="Remove Item" ng-click="sdCtrl.removeItem(item, list)">
				<i class="glyphicon glyphicon-trash"></i>
			</md-button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<md-input-container class="md-block md-valign">
				<md-switch class="md-primary" name="listOf" ng-model="item.$listOf">
					<label>List/Array</label>
		        </md-switch>
			</md-input-container>
		</div>
		<div class="col-xs-1" ng-show="item.$listOf">
			<md-input-container class="md-block" ng-init="(item.$minOccurrences>=0)?null:(item.$minOccurrences=0)">
		        <label>Min Occurrence</label>
		        <input required type="number" step="1" name="$minOccurrencess" ng-model="item.$minOccurrences" min="0" ng-max="item.$maxOccurrences||999"/>
				<div ng-messages="item.$minOccurrences.$error" multiple role="alert">
					<div ng-message="min">
						The minimum possible should be zero
					</div>
					<div ng-message="max">
						{{item.$minOccurrences.$viewValue}} is greater than {{item.$maxOccurrences}} (max occurence).
					</div>
				</div>
		    </md-input-container>
		</div>
		<div class="col-xs-1" ng-show="item.$listOf">
		    <md-input-container class="md-block">
		        <label>Max Occurrence</label>
		        <input placeholder="&infin;" type="number" step="1" name="$maxOccurrencess" ng-model="item.$maxOccurrences" max="999" ng-min="item.$minOccurrences||1"/>
				<div ng-messages="item.$maxOccurrences.$error" multiple role="alert">
					<div ng-message="max">
						The maximum possible should be less than 999
					</div>
					<div ng-message="min">
						{{item.$maxOccurrences.$viewValue}} is lower than {{item.$minOccurrences}} (min occurence).
					</div>
				</div>
		    </md-input-container>
		</div>
		<div class="col-xs-1" ng-show="item.$listOf">
			<md-input-container class="md-block md-valign">
				<md-switch class="md-primary" name="uniqueItems" ng-model="item.$uniqueItems">
					<label>Unique Items</label>
		        </md-switch>
			</md-input-container>
		</div>
	</div>
</div>
<div ng-include="'view/'+item.type+'.html'" class="container-element container-fluid"></div>
<div class="clearfix"></div>