<div class="row">
	<div class="col-xs-1">
		<md-input-container class="md-block">
	        <label>Min length</label>
	        <input placeholder="0" type="number" step="1" name="minLength" ng-model="item.$string.minLength" ng-min="0" ng-max="item.$string.maxLength"/>
			<div ng-messages="item.$string.minimum.$error" multiple role="alert">
				<div ng-message="min">
					Min Length must be greater than or equal to 0.
				</div>
				<div ng-message="max">
					{{item.$string.minLength.$viewValue}} is greater than {{item.$string.maxLength}} (max value).
				</div>
			</div>
	    </md-input-container>
	</div>
	<div class="col-xs-1">
	    <md-input-container class="md-block">
	        <label>Max length</label>
	        <input placeholder="&infin;" type="number" step="1" name="maxLength" ng-model="item.$string.maxLength" ng-min="item.$string.minLength"/>
			<div ng-messages="item.$string.minimum.$error" multiple role="alert">
				<div ng-message="min">
					{{item.$string.maxLength.$viewValue}} is lower than {{item.$string.minLength}} (min value).
				</div>
			</div>
	    </md-input-container>
	</div>
	<div class="col-xs-3">
        <md-input-container class="md-block">
			<label>Regular expression pattern</label>
			<input ng-model="item.$string.pattern">
		</md-input-container>
	</div>
	<div class="col-xs-2">
    	<md-input-container class="md-block">
	        <label>Format</label>
    		<md-select ng-model="item.$string.format" placeholder="Generic">
    			<md-option ng-value="">
					Generic
				</md-option>
				<md-option ng-value="'date-time'">
					Date/Time
				</md-option>
				<md-option ng-value="'email'">
					Email
				</md-option>
				<md-option ng-value="'hostname'">
					Host name
				</md-option>
				<md-option ng-value="'ipv4'">
					ipv4
				</md-option>
				<md-option ng-value="'ipv6'">
					ipv6
				</md-option>
				<md-option ng-value="'uri'">
					URI
				</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div class="col-xs-5">
		<md-chips ng-model="item.$string.$domain" md-enable-chip-edit="true" secondary-placeholder="+ Allowed value" placeholder="Type a domain value"></md-chips>
	</div>
</div>	